.grid {
  display: flex;
  flex-direction: column;
  gap: 0px;
  margin-top: 20px;
  width: max-content;
}

.row {
  display: flex;
  align-items: center; 
  flex: nowrap;
  /*grid-template-columns: repeat(2, 1fr); */
}

.row.single {
  justify-content: center; /* centers the cell */
}

.label {
  width: 40px;
  text-align: center;
  color: #1a1a1a !important;
}

.title {
  color: #1a1a1a; 
  font-weight: bold;
}