.app-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 2400px;
  margin: 0 auto;
}

.lineup-grid {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  width: max-content;
}

.lineup-row {
  display: flex;
  align-items: center; 
  /*grid-template-columns: repeat(2, 1fr); */
  gap: 10px;
}

.lineup-cell {
  padding: 10px;
  width: 80px;
  height: 40px;
  border: 1px solid #9cd4ff;
  text-align: center;
  background-color: #137297;
  border-radius: 5px;
  font-weight: bold;
  user-select: none;
  transition: background-color 0.2s;
  cursor: pointer;
}

.lineup-label {
  width: 40px;
  text-align: center;
}

.person-name {
  font-weight: bold;
  font-size: 20px;
  margin-top: -20px;
  display: inline-block;
  color: #ffffff;
}

/* Highlight cell being dragged */
.lineup-cell.dragging {
  opacity: 1.0;
  background-color: #073356;
}

/* Highlight drop target */
.lineup-cell.hovered {
  background-color: #ffcc80;
}

.lineup-container {
  display: flex;       /* put children side by side */
  gap: 50px;           /* space between grids */
  align-items: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto; 
  padding-bottom: 10px;
}

.lineup-container > .item {
  flex: 0 0 calc(33.33% - 10px); /* 3 items per row, minus gap */
  box-sizing: border-box;
}

.boat-list {
  display: flex;
  flex-direction: column;
}

.scroll-container {
  max-width: 1000px; /* or whatever height you want */
  overflow-y: hidden;   /* vertical scroll */
  overflow-x: auto; /* optional: hide horizontal scroll */
  /*border: 1px solid #ccc; /* optional: visual border */
  padding: 10px; /* optional spacing */
}

p {
  margin-top: 20px;
  font-weight: bold;
}


.upload-container {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.upload-label {
  padding: 6px 12px;
  background: #636060;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
}

.upload-label:hover {
  background: #e9e9e9;
}

.file-status {
  font-size: 0.85rem;
  color: #555;
}

.people-item .lineup-grid {
  width: max-content;
}

.people-item .lineup-row {
  flex-wrap: nowrap;
}

.weight-row {
  font-size: x-large;
  font-weight: bold;
}

.lineup-cell.selected {
  outline: 2px solid #4caf50;
  background-color: rgba(76, 175, 80, 0.15);
}

.count-table {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns: Person | Count */
  gap: 8px;
  max-width: 300px;
}

.grid-header {
  font-weight: bold;
  border-bottom: 1px solid #aaa;
  padding: 4px;
}

.grid-cell {
  padding: 4px;
  border-bottom: 1px solid #eee;
}